<div class="nav-agency">
	 <div class="splash"> <img src="/assets/black.jpg" alt="Banner" /> </div>
  <div class="navbar navbar-static-top"> 
     <%= render "layouts/inner" %>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="page-header">
        <div class="row-fluid">
          <div class="span12">
            <h1> Blog</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid blog">
    <div class="span8">
       <p id="notice"><%= notice %></p>
      <article class="blog-post">
        <section class="indexMeta">
          <h2><a href="#" ><%= @post.title %></a></h2>
          <div class="post-meta clearfix">
            <ul>
              <li>
                <p>Written by: <%= @post.name %></p>
              </li>
              <%= render "layouts/social" %>
           
            </ul>
          </div>
          
          
        </section>
        <p align="justify"><%= @post.body %> </p>
       
      </article>
    
      <br>
      <br>
   <%= link_to 'Back', posts_path %>
      <hr class="soften">
      
    </div>
    <%= render "layouts/sidebarblog" %>
  </div>
</div>






